.login-form {
    display: flex;
    flex-direction: column;
}

.mat-form-field {
    display: flex;
    flex-direction: column;
}

.mat-error {
    font-size: 10px;
}

.mat-dialog-actions {
    gap: 1rem;
    justify-content: flex-end;
}